@charset "utf-8";
/*
 set break point
 */
/*
 Width / Height Settings
 */
/*
 Line Height
 */
/*
 SP Liquid Value
 */
/*
 PC Liquid Value
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  /*------------------------------------------------------------------------------------------
   *
   *
   setting.css
   *
   *
   ------------------------------------------------------------------------------------------ */
  /* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*HTML5display-roleresetforolderbrowsers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #000;
  font-size: 16px;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt" 1;
  word-break: normal;
  position: relative;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}
body.is_pc {
  overflow-y: scroll !important;
}
body, html {
  width: 100%;
  height: 100%;
}
a, li, p, div, button {
  outline: none !important;
}
a {
  color: #000;
  text-decoration: none;
}
a, p, div, li, dd, dt {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img, svg {
  height: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.disabled {
  cursor: default !important;
}
.disabled a {
  cursor: default !important;
}
.is_pc .device_sp {
  display: none !important;
}
.is_sp .device_pc {
  display: none !important;
}
input[type="submit"], input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus, input[type="button"]::focus {
  outline-offset: -2px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  -moz-outline-style: none;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
}
input[type=radio], input[type=checkbox] {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
select::-ms-expand {
  display: none;
}
/* -------------------- font-face  --------------------*/
.ff_smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.set_bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  position: relative;
}
.set_bg .bg_inner {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.set_bg img {
  width: 100%;
  opacity: 0;
}
/* ==================================================
 *
 font style
 *
 ================================================== */
.fs_just, .fs_just p, .fs_just li, .fs_just dt, .fs_just dd {
  text-align: justify !important;
  text-justify: inter-ideograph !important;
}
@media screen and (max-width: 750px) {
  .fz18_s {
    font-size: 18 / 750 * 100vw;
  }
  .fz19_s {
    font-size: 19 / 750 * 100vw;
  }
  .fz20_s {
    font-size: 20 / 750 * 100vw;
  }
  .fz21_s {
    font-size: 21 / 750 * 100vw;
  }
  .fz22_s {
    font-size: 22 / 750 * 100vw;
  }
  .fz23_s {
    font-size: 23 / 750 * 100vw;
  }
  .fz24_s {
    font-size: 24 / 750 * 100vw;
  }
  .fz25_s {
    font-size: 25 / 750 * 100vw;
  }
  .fz26_s {
    font-size: 26 / 750 * 100vw;
  }
  .fz27_s {
    font-size: 27 / 750 * 100vw;
  }
  .fz28_s {
    font-size: 28 / 750 * 100vw;
  }
  .fz29_s {
    font-size: 29 / 750 * 100vw;
  }
  .fz30_s {
    font-size: 30 / 750 * 100vw;
  }
  .fz31_s {
    font-size: 31 / 750 * 100vw;
  }
  .fz32_s {
    font-size: 32 / 750 * 100vw;
  }
  .fz33_s {
    font-size: 33 / 750 * 100vw;
  }
  .fz34_s {
    font-size: 34 / 750 * 100vw;
  }
  .fz35_s {
    font-size: 35 / 750 * 100vw;
  }
  .fz36_s {
    font-size: 36 / 750 * 100vw;
  }
  .fz37_s {
    font-size: 37 / 750 * 100vw;
  }
  .fz38_s {
    font-size: 38 / 750 * 100vw;
  }
  .fz39_s {
    font-size: 39 / 750 * 100vw;
  }
  .fz40_s {
    font-size: 40 / 750 * 100vw;
  }
  .fz41_s {
    font-size: 41 / 750 * 100vw;
  }
  .fz42_s {
    font-size: 42 / 750 * 100vw;
  }
  .fz43_s {
    font-size: 43 / 750 * 100vw;
  }
  .fz44_s {
    font-size: 44 / 750 * 100vw;
  }
  .fz45_s {
    font-size: 45 / 750 * 100vw;
  }
  .fz46_s {
    font-size: 46 / 750 * 100vw;
  }
  .fz47_s {
    font-size: 47 / 750 * 100vw;
  }
  .fz48_s {
    font-size: 48 / 750 * 100vw;
  }
  .fz49_s {
    font-size: 49 / 750 * 100vw;
  }
  .fz50_s {
    font-size: 50 / 750 * 100vw;
  }
  .fz51_s {
    font-size: 51 / 750 * 100vw;
  }
  .fz52_s {
    font-size: 52 / 750 * 100vw;
  }
  .fz53_s {
    font-size: 53 / 750 * 100vw;
  }
  .fz54_s {
    font-size: 54 / 750 * 100vw;
  }
  .fz55_s {
    font-size: 55 / 750 * 100vw;
  }
  .fz56_s {
    font-size: 56 / 750 * 100vw;
  }
  .fz57_s {
    font-size: 57 / 750 * 100vw;
  }
  .fz58_s {
    font-size: 58 / 750 * 100vw;
  }
  .fz59_s {
    font-size: 59 / 750 * 100vw;
  }
  .fz60_s {
    font-size: 60 / 750 * 100vw;
  }
  .fz61_s {
    font-size: 61 / 750 * 100vw;
  }
  .fz62_s {
    font-size: 62 / 750 * 100vw;
  }
  .fz63_s {
    font-size: 63 / 750 * 100vw;
  }
  .fz64_s {
    font-size: 64 / 750 * 100vw;
  }
}
/* ----- max-width : 750px ----- */
@media screen and (min-width: 751px) {
  .fz8 {
    font-size: calc(8 / 1400 * 100vw);
  }
  .fz9 {
    font-size: calc(9 / 1400 * 100vw);
  }
  .fz10 {
    font-size: calc(10 / 1400 * 100vw);
  }
  .fz11 {
    font-size: calc(11 / 1400 * 100vw);
  }
  .fz12 {
    font-size: calc(12 / 1400 * 100vw);
  }
  .fz13 {
    font-size: calc(13 / 1400 * 100vw);
  }
  .fz14 {
    font-size: calc(14 / 1400 * 100vw);
  }
  .fz15 {
    font-size: calc(15 / 1400 * 100vw);
  }
  .fz16 {
    font-size: calc(16 / 1400 * 100vw);
  }
  .fz17 {
    font-size: calc(17 / 1400 * 100vw);
  }
  .fz18 {
    font-size: calc(18 / 1400 * 100vw);
  }
  .fz19 {
    font-size: calc(19 / 1400 * 100vw);
  }
  .fz20 {
    font-size: calc(20 / 1400 * 100vw);
  }
  .fz21 {
    font-size: calc(21 / 1400 * 100vw);
  }
  .fz22 {
    font-size: calc(22 / 1400 * 100vw);
  }
  .fz23 {
    font-size: calc(23 / 1400 * 100vw);
  }
  .fz24 {
    font-size: calc(24 / 1400 * 100vw);
  }
  .fz25 {
    font-size: calc(25 / 1400 * 100vw);
  }
  .fz26 {
    font-size: calc(26 / 1400 * 100vw);
  }
  .fz27 {
    font-size: calc(27 / 1400 * 100vw);
  }
  .fz28 {
    font-size: calc(28 / 1400 * 100vw);
  }
  .fz29 {
    font-size: calc(29 / 1400 * 100vw);
  }
  .fz30 {
    font-size: calc(30 / 1400 * 100vw);
  }
  .fz31 {
    font-size: calc(31 / 1400 * 100vw);
  }
  .fz32 {
    font-size: calc(32 / 1400 * 100vw);
  }
  .fz33 {
    font-size: calc(33 / 1400 * 100vw);
  }
  .fz34 {
    font-size: calc(34 / 1400 * 100vw);
  }
  .fz35 {
    font-size: calc(35 / 1400 * 100vw);
  }
  .fz36 {
    font-size: calc(36 / 1400 * 100vw);
  }
  .fz37 {
    font-size: calc(37 / 1400 * 100vw);
  }
  .fz38 {
    font-size: calc(38 / 1400 * 100vw);
  }
  .fz39 {
    font-size: calc(39 / 1400 * 100vw);
  }
  .fz40 {
    font-size: calc(40 / 1400 * 100vw);
  }
  .fz41 {
    font-size: calc(41 / 1400 * 100vw);
  }
  .fz42 {
    font-size: calc(42 / 1400 * 100vw);
  }
  .fz43 {
    font-size: calc(43 / 1400 * 100vw);
  }
  .fz44 {
    font-size: calc(44 / 1400 * 100vw);
  }
  .fz45 {
    font-size: calc(45 / 1400 * 100vw);
  }
  .fz46 {
    font-size: calc(46 / 1400 * 100vw);
  }
  .fz47 {
    font-size: calc(47 / 1400 * 100vw);
  }
  .fz48 {
    font-size: calc(48 / 1400 * 100vw);
  }
  .fz49 {
    font-size: calc(49 / 1400 * 100vw);
  }
  .fz50 {
    font-size: calc(50 / 1400 * 100vw);
  }
  .fz51 {
    font-size: calc(51 / 1400 * 100vw);
  }
  .fz52 {
    font-size: calc(52 / 1400 * 100vw);
  }
  .fz53 {
    font-size: calc(53 / 1400 * 100vw);
  }
  .fz54 {
    font-size: calc(54 / 1400 * 100vw);
  }
  .fz55 {
    font-size: calc(55 / 1400 * 100vw);
  }
  .fz56 {
    font-size: calc(56 / 1400 * 100vw);
  }
  .fz57 {
    font-size: calc(57 / 1400 * 100vw);
  }
  .fz58 {
    font-size: calc(58 / 1400 * 100vw);
  }
  .fz59 {
    font-size: calc(59 / 1400 * 100vw);
  }
  .fz60 {
    font-size: calc(60 / 1400 * 100vw);
  }
  .fz61 {
    font-size: calc(61 / 1400 * 100vw);
  }
  .fz62 {
    font-size: calc(62 / 1400 * 100vw);
  }
  .fz63 {
    font-size: calc(63 / 1400 * 100vw);
  }
  .fz64 {
    font-size: calc(64 / 1400 * 100vw);
  }
  .fz11_5 {
    font-size: 0.82143vw;
  }
  .fz13_5 {
    font-size: 0.96429vw;
  }
  .fz26_5 {
    font-size: 1.89286vw;
  }
  .fz8_f {
    font-size: 8px !important;
  }
  .fz9_f {
    font-size: 9px !important;
  }
  .fz10_f {
    font-size: 10px !important;
  }
  .fz11_f {
    font-size: 11px !important;
  }
  .fz12_f {
    font-size: 12px !important;
  }
  .fz13_f {
    font-size: 13px !important;
  }
  .fz14_f {
    font-size: 14px !important;
  }
  .fz15_f {
    font-size: 15px !important;
  }
  .fz16_f {
    font-size: 16px !important;
  }
  .fz17_f {
    font-size: 17px !important;
  }
  .fz18_f {
    font-size: 18px !important;
  }
  .fz19_f {
    font-size: 19px !important;
  }
  .fz20_f {
    font-size: 20px !important;
  }
  .fz21_f {
    font-size: 21px !important;
  }
  .fz22_f {
    font-size: 22px !important;
  }
  .fz23_f {
    font-size: 23px !important;
  }
  .fz24_f {
    font-size: 24px !important;
  }
  .fz25_f {
    font-size: 25px !important;
  }
  .fz26_f {
    font-size: 26px !important;
  }
  .fz27_f {
    font-size: 27px !important;
  }
  .fz28_f {
    font-size: 28px !important;
  }
  .fz29_f {
    font-size: 29px !important;
  }
  .fz30_f {
    font-size: 30px !important;
  }
  .fz31_f {
    font-size: 31px !important;
  }
  .fz32_f {
    font-size: 32px !important;
  }
  .fz33_f {
    font-size: 33px !important;
  }
  .fz34_f {
    font-size: 34px !important;
  }
  .fz35_f {
    font-size: 35px !important;
  }
  .fz36_f {
    font-size: 36px !important;
  }
  .fz37_f {
    font-size: 37px !important;
  }
  .fz38_f {
    font-size: 38px !important;
  }
  .fz39_f {
    font-size: 39px !important;
  }
  .fz40_f {
    font-size: 40px !important;
  }
  .fz41_f {
    font-size: 41px !important;
  }
  .fz42_f {
    font-size: 42px !important;
  }
  .fz43_f {
    font-size: 43px !important;
  }
  .fz44_f {
    font-size: 44px !important;
  }
  .fz45_f {
    font-size: 45px !important;
  }
  .fz46_f {
    font-size: 46px !important;
  }
  .fz47_f {
    font-size: 47px !important;
  }
  .fz48_f {
    font-size: 48px !important;
  }
  .fz49_f {
    font-size: 49px !important;
  }
  .fz50_f {
    font-size: 50px !important;
  }
  .fz51_f {
    font-size: 51px !important;
  }
  .fz52_f {
    font-size: 52px !important;
  }
  .fz53_f {
    font-size: 53px !important;
  }
  .fz54_f {
    font-size: 54px !important;
  }
  .fz55_f {
    font-size: 55px !important;
  }
  .fz56_f {
    font-size: 56px !important;
  }
  .fz57_f {
    font-size: 57px !important;
  }
  .fz58_f {
    font-size: 58px !important;
  }
  .fz59_f {
    font-size: 59px !important;
  }
  .fz60_f {
    font-size: 60px !important;
  }
  .fz61_f {
    font-size: 61px !important;
  }
  .fz62_f {
    font-size: 62px !important;
  }
  .fz63_f {
    font-size: 63px !important;
  }
  .fz64_f {
    font-size: 64px !important;
  }
  .fz11_5_f {
    font-size: 11.5px !important;
  }
  .fz13_5_f {
    font-size: 13.5px !important;
  }
  .fz26_5_f {
    font-size: 26.5px !important;
  }
}
/* ----- min-width : 751px ----- */
@media screen and (min-width: 1400px) {
  .fz8 {
    font-size: 8px !important;
  }
  .fz9 {
    font-size: 9px !important;
  }
  .fz10 {
    font-size: 10px !important;
  }
  .fz11 {
    font-size: 11px !important;
  }
  .fz12 {
    font-size: 12px !important;
  }
  .fz13 {
    font-size: 13px !important;
  }
  .fz14 {
    font-size: 14px !important;
  }
  .fz15 {
    font-size: 15px !important;
  }
  .fz16 {
    font-size: 16px !important;
  }
  .fz17 {
    font-size: 17px !important;
  }
  .fz18 {
    font-size: 18px !important;
  }
  .fz19 {
    font-size: 19px !important;
  }
  .fz20 {
    font-size: 20px !important;
  }
  .fz21 {
    font-size: 21px !important;
  }
  .fz22 {
    font-size: 22px !important;
  }
  .fz23 {
    font-size: 23px !important;
  }
  .fz24 {
    font-size: 24px !important;
  }
  .fz25 {
    font-size: 25px !important;
  }
  .fz26 {
    font-size: 26px !important;
  }
  .fz27 {
    font-size: 27px !important;
  }
  .fz28 {
    font-size: 28px !important;
  }
  .fz29 {
    font-size: 29px !important;
  }
  .fz30 {
    font-size: 30px !important;
  }
  .fz31 {
    font-size: 31px !important;
  }
  .fz32 {
    font-size: 32px !important;
  }
  .fz33 {
    font-size: 33px !important;
  }
  .fz34 {
    font-size: 34px !important;
  }
  .fz35 {
    font-size: 35px !important;
  }
  .fz36 {
    font-size: 36px !important;
  }
  .fz37 {
    font-size: 37px !important;
  }
  .fz38 {
    font-size: 38px !important;
  }
  .fz39 {
    font-size: 39px !important;
  }
  .fz40 {
    font-size: 40px !important;
  }
  .fz41 {
    font-size: 41px !important;
  }
  .fz42 {
    font-size: 42px !important;
  }
  .fz43 {
    font-size: 43px !important;
  }
  .fz44 {
    font-size: 44px !important;
  }
  .fz45 {
    font-size: 45px !important;
  }
  .fz46 {
    font-size: 46px !important;
  }
  .fz47 {
    font-size: 47px !important;
  }
  .fz48 {
    font-size: 48px !important;
  }
  .fz49 {
    font-size: 49px !important;
  }
  .fz50 {
    font-size: 50px !important;
  }
  .fz51 {
    font-size: 51px !important;
  }
  .fz52 {
    font-size: 52px !important;
  }
  .fz53 {
    font-size: 53px !important;
  }
  .fz54 {
    font-size: 54px !important;
  }
  .fz55 {
    font-size: 55px !important;
  }
  .fz56 {
    font-size: 56px !important;
  }
  .fz57 {
    font-size: 57px !important;
  }
  .fz58 {
    font-size: 58px !important;
  }
  .fz59 {
    font-size: 59px !important;
  }
  .fz60 {
    font-size: 60px !important;
  }
  .fz61 {
    font-size: 61px !important;
  }
  .fz62 {
    font-size: 62px !important;
  }
  .fz63 {
    font-size: 63px !important;
  }
  .fz64 {
    font-size: 64px !important;
  }
  .fz11_5 {
    font-size: 11.5px !important;
  }
  .fz13_5 {
    font-size: 13.5px !important;
  }
  .fz26_5 {
    font-size: 26.5px !important;
  }
}
/* ----- min-width : 1440px ----- */
